.converter {
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    max-width: 500px;
}

.title {
    font-size: 30px;
}

.converter, .input, .result {
    margin: 5px;
    padding: 5px;
}

.input input {
    width: 150px;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    padding: 6px;
}

.input {
    margin: 5px -5px;
}

.convert-button {
    background-color: #cfcfcf;
    color: #000;
    border: 2px solid #0b799c;
    margin: 10px 150px;
    border-radius: 5px;
    padding: 6px;
    text-align: center;
}

.output {
    border: 1px solid #7c7c7c;
    border-radius: 5px;
    max-width: 500px;
}